
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/submeny.css" />
    <link rel="stylesheet" href="~/Content/cs1.css" />
    <script type="text/javascript">
       function crecer(x) {
           x.style.width = "36%";
       }

       function normal(x) {
           x.style.width = "35%";
       }

       function crec(x) {
           x.style.width = "36%";
       }

       function nor(x) {
           x.style.width = "35%";
       }
    </script>
</head>

<body onload=" document.getElementById('navbar').style.display = 'none';" style="background-image:url('/Content/giphys.gif'); background-color:#ffffff">
    
    <div class="container" id="container" style="margin-top:10%;">

        <div id="mate" class="mate" onclick="window.location.href='/Mate/Index'" onmouseover="crecer(this)"  onmouseout="normal(this)">
            <h2 id="mgmate" class="mgmate">MATEMATICA</h2>
            <img src="~/Content/15899.png"id="imgmat" class="imgmat" />
        </div>

        <div id="comu" class="comu" onclick="window.location.href='/Comu/Index'" onmouseover="crec(this)"  onmouseout="nor(this)">
            <h2 id="mgcomu" class="mgcomu">LENGUAJE</h2>
            <img src="~/Content/img_leyendo.png" id="imgcom" class="imgcom"/>
        </div>

        <div id="imgcenter" class="imgcenter">
            <img src="~/Content/PiggygifWeb.gif"id="imgmed" class="imgmed" />
        </div>
    </div>

    <div style="background-color:white">
        <br /><br /><br /><br /><br /><br />
    </div>
</body>
</html>


    