
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/cs1.css" />
    <script type="text/javascript">
       function crecer(x) {
           x.style.width = "52.5%";
       }

       function normal(x) {
           x.style.width = "51%";
       }

       function crec(x) {
           x.style.width = "46%";
       }

       function nor(x) {
           x.style.width = "44%";
       }
    </script>
</head>

<body onload=" document.getElementById('navbar').style.display = 'none';" style="background-image:url('/Content/Red_happy.gif'); background-color:#ffffff">
    
    <div class="container" style="border: 50px solid white; margin-top:10%">

        <div style="background-color:white; float:right; width:40%; border:solid thin #000000">
            <img onmouseover="crecer(this)" onclick="window.location.href='/Mate/Index'" onmouseout="normal(this)" src="~/Content/15899.png" width="50%" style="float:right; margin-top:2%" />
            <h2 style="float:left; margin-top:28%; margin-left:5%; font-size:26px">MATEMATICA</h2>

        </div>

        <img src="~/Content/PiggygifWeb.gif" width="18%" style="margin-top:6%; margin-left:2%" />


        <div style="background-color:white; float:left; width:39%; border:solid thin #000000">
            <img onmouseover="crec(this)" onclick="window.location.href='/Mate/Index'" onmouseout="nor(this)" src="~/Content/img_leyendo.png" width="44%" height="20%" style="float:left;margin-top:2%" />
            <h2 style="float:right; margin-top:28%; margin-right:13%">LENGUAJE</h2>

        </div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br>

    </div>
</body>
</html>


    